// TOOLS

@import "Mixins";
@import "Animations";

// BASE

:root {
  --primary: #7e2236;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}
input,
button,
textarea,
:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

span {
  white-space: pre-wrap;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

.container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 250px minmax(1250px, auto);
  grid-template-rows: minmax(100%, 75vh);
}

.discover,
.files {
  padding: 3rem;
  animation-duration: 0.3s;
}

.playlists {
  animation-duration: 0.3s;
  display: flex;
}

.p-list {
  margin: 2rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.p-item {
  position: relative;
  width: 100%;
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: darkgray;
  margin-bottom: 0.5rem;
  .total {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // color: #dfdfdf;
    font-size: 1.4rem;
    font-weight: 400;
  }
  &:hover {
    color: #f0f0f0;
  }
}
.p-active-bar {
  background: #f5f5f5;
  width: 100%;
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
}
.p-input {
  background: transparent;
  border: none;
  caret-color: white;
  position: relative;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1.6rem;
}
.p-active {
  color: ghostwhite;
  &:hover {
    color: ghostwhite;
  }
}

.empty {
  animation-duration: 0.4s;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  .msg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa {
    font-size: 2.2rem;
    margin: 0 1rem;
    color: #cacaca;
  }
  span {
    color: silver;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.p-feed {
  animation-duration: 0.5s;
}

.p-feed-list {
  margin-top: 3.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .p-song {
    margin: 1rem 0;
    // margin-right: 2rem;
    // width: calc(100% / 2 - 2rem);
    width: 100%;
    // width: max-content;
    display: flex;
    align-items: center;
    .index {
      font-size: 1.4rem;
    }
    .p-menu {
      cursor: pointer;
      color: darkgrey;
      .fa {
        font-size: 0.6rem;
        margin-right: 0.3rem;
      }
    }

    .title {
      font-size: 1.6rem;
      color: white;
    }
    .artist {
      font-size: 1.6rem;
      color: silver;
    }
  }
}

.playing-indicator {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .animation {
    width: 18px;
    height: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .bar {
      position: relative;
      top: 5px;
      height: 18px;
      width: 4px;
      align-items: baseline;
      background-color: rgb(139, 4, 4);
      animation: bar-animate;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      transform: scale3d(1, 0, 1);
      will-change: transform;

      &.bar-second {
        animation-delay: 0.55s;
      }

      &.bar-third {
        animation-delay: 0.25s;
      }

      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }
}

@keyframes bar-animate {
  from {
    transform: scale3d(1, 0, 1);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1, 0, 1);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// COMPONENTS

@import "./components/Loader";
@import "./components/Placeholder";
@import "./components/Search";
@import "./components/Feed";
@import "./components/Table";
@import "./components/Menu";
@import "./components/Player";
