.songs_list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.song_info {
  font-size: 1.6rem;
  margin: 0 2rem;
  .title {
    display: block;
  }
  .artist {
    color: silver;
    display: block;
  }
  .remove {
    display: block;
    color: #db1d40;
    cursor: pointer;
    font-weight: 700;
  }
}

.song {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.35rem 0.5rem;
  width: calc(100% / 8 - 1rem);

  // @include respond-above(xl) {
  //   width: calc(100% / 7 - 2rem);
  // }
  // @include respond-above(xxl) {
  //   margin: 1.5rem 0.75rem;
  //   width: calc(100% / 7 - 1.5rem);
  // }
}

.song_image {
  animation-duration: 0.8s;
  position: relative;
  backface-visibility: hidden;
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
  background: #dfdfdf;
  padding: 0.3rem;
}
