.songs_list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.song_info {
  width: 100%;
  font-size: 1.6rem;
  .title {
    display: block;
    width: max-content;
  }
  .artist {
    color: silver;
    width: max-content;
    display: block;
  }
  .remove {
    display: block;
    color: #db1d40;
    cursor: pointer;
    font-weight: 700;
  }
}

.song {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.75rem 1rem;
  width: calc(100% / 6 - 2rem);

  @include respond-above(xl) {
    width: calc(100% / 7 - 2rem);
  }
  @include respond-above(xxl) {
    width: calc(100% / 8 - 2rem);
  }
}

.song_image {
  animation-duration: 0.8s;
  position: relative;
  backface-visibility: hidden;
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
  background: #dfdfdf;
  padding: 0.3rem;
}
