.menu {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
  background: var(--primary);
  padding: 3rem 4rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__label {
    text-transform: uppercase;
    font-weight: 300;
    // font-size: 2.5rem;
    letter-spacing: 0.2rem;
    color: #f0e6e8;
    width: max-content;
  }

  &__img {
    height: 30px;
    // margin-right: 1.5rem;
  }
}

.nav {
  margin: 5rem 0;

  &__label {
    margin: 1rem 0;
    font-size: 1.6rem;
  }

  &__list {
    &__item {
      position: relative;
      padding-left: 1.5rem;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      margin: 2rem 0;
      color: #f0e6e8;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
    }
  }

  .fa {
    font-size: 1.3rem !important;
    margin-right: 0.8rem;
    &__big {
      color: #f0e6e8;
      margin-left: 1rem;
      font-size: 1.7rem !important;
    }
  }
}

.active-bar {
  position: absolute;
  left: 0;
  width: 3px;
  background: transparent;
  height: 100%;
}

.router-link-exact-active {
  .active-bar {
    background: white;
  }
}
